{% extends 'base-auth.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body_attr %}class="login" id="login"{% endblock %}

{% block body %}
    <div class="card" id="login-container">
        <my-login csrf-token="{{ csrf_token('authenticate') }}" />
    </div>
{% endblock %}
